:root {
    --text-color:#757575;
    --white-color:#F5F5F5;
    --accent-color:#2196F3;
    --primary-black-color:#212121;
    --black-color:#000000;
    --back-color:#2F303A;
    --main-white-color:#FFFFFF;
    --greey-color:#F5F4FA;

    }

body{
    font-family:"Roboto", sans-serif;
    font-size: 14px;
    color: var(--text-color);
    background-color:var(--white-color); 
     }
     .page-header{
        background-color:var(--main-white-color);
     }
 .logo {
    color: var(--accent-color);
    font-family: 'Raleway';
font-weight: 700;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;
    } 
.logo-style {
    color: var(--black-color);
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    }
.logo .logo-style:hover {
    color: var(--accent-color);
        }
    /* применить ховер ко всему лого */
.site-nav .link {
    color: var(--primary-black-color);
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
    }
.site-nav .link :hover,
.site-nav .link :focus {
    color: var(--accent-color);
    }
.contact .link {
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
        }
.contact: :focus,
.link :hover {
    color: var(--accent-color);
        }
.hero {
    background-color:var(--hero-color);
}
.hero-title {
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    color:var(--main-white-color);
}
.button-primary {
    color: var(--main-white-color);
    background-color:var(--accent-color);
    border:transparent;
    font-weight: 700;
    font-size: 16px;
    line-height: 1,88;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    border-radius: 4px;
    cursor: pointer;
}
.button-primary:hover 
.button-primary:focus {
    color: var(--main-white-color);
    background-color:var(--accent-color);
}
.company-benefits {
    background-color: var(--white-color);
}
.visually-hidden {
    position: absolute;   
    width: 1px;   
    height: 1px;   
    margin: -1px;  
    border: 0;   
    padding: 0;  
    white-space: nowrap;   
    clip-path: inset(100%);   
    clip: rect(0 0 0 0);   
    overflow: hidden;
}

.feature-list {
    list-style: none;

}
/* убрать точки списка */
.benefits {
    color: var(--primary-black-color);
font-weight: 700;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;

}
.benefits-text {
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
}
.work {
    background-color:var(--white-color);
}
.work-process {
color:var(--primary-black-color);
font-weight: 700;
font-size: 36px;
line-height: 1.16;
text-align: center;
letter-spacing: 0.03em;

}
.work-item {
/* убрать точки списка  */
}
.team {
    background-color:var(--greey-color);
}
.team-title {
    color: var(--primary-black-color);
font-weight: 700;
font-size: 36px;
line-height: 1.66;
text-align: center;
letter-spacing: 0.03em;
}
.name {
    color: var(--primary-black-color);
font-weight: 500;
font-size: 16px;
line-height: 1.18;
text-align: center;
letter-spacing: 0.03em;
}
.position {
font-size: 16px;
line-height: 1.18;
text-align: center;
letter-spacing: 0.03em;
}
.page-footer {
    background-color:var(--back-color) ;
}
.logo-web {
    color:var(--accent-color);
    font-family: 'Raleway';
font-weight: 700;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;
}
.logo-type {
    color:var(--main-white-color);
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}
/* применить ховер ко всему лого */
.location {
    
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
text-decoration: none;
color: var(--main-white-color);
}
.location :hover
.location :focus {
    color:var(--main-white-color);
}
.mail {
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: rgba(255, 255, 255, 0.6);
}
.mail :hover
.mail :focus {
    color: rgba(255, 255, 255, 0.6);
}
.tel {
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: rgba(255, 255, 255, 0.6);
}
.tel :hover
.tel: :focus {
    color: rgba(255, 255, 255, 0.6);
}
a {
    text-decoration: none;
}
img {
    display: block;
    height: auto;
}

.projects {
    background-color: var(--white-color);
}
.btn-port {
color: var(--primary-black-color);
    background-color: var(--greey-color);
font-weight: 500;
font-size: 16px;
line-height: 1.62;
text-align: center;
letter-spacing: 0.03em;
cursor: pointer;
}
/* убрать точки списка */
.btn-portfolio {
    
}
.btn-port:hover,
.btn-port:focus {
    color:var(--main-white-color);
    background-color: var(--accent-color);
}
.examples {

}
/* убратт точки списка */
.product-title {
font-weight: 700;
font-size: 18px;
line-height: 2,0;
letter-spacing: 0.06em;
color:var(--primary-black-color);
}
.product-type {
font-size: 16px;
line-height: 1,88;
letter-spacing: 0.03em;

}